<div class="bg-success ">
  <div class="container text-white py-1 px-3 d-flex justify-content-between small">
    <div>+0701234567890</div>
    <div>
      Get 50% Off on Selected Items |
      <a [routerLink]="'/deals'" class="text-white text-decoration-underline">Shop Now</a>
    </div>
    <div>Eng ▼ | Location ▼</div>
  </div>
</div>

<nav class="container navbar navbar-expand-lg navbar-light bg-white  px-4">
  <a class="navbar-brand text-success fw-bold" [routerLink]="'/'">Shopcart</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto ms-3">
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="'/categories'"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          Categories
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="'/deals'"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          Deals
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="'/new'"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          What's New
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="'/delivery'"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          Delivery
        </a>
      </li>
    </ul>

    <app-search></app-search>

    <ul class="navbar-nav ms-3">
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="'/account'"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-user" aria-hidden="true"></i> My Account
          @if(user != null){
            ({{ user.firstName }})
          }
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="'/cart'"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
        </a>
      </li>
    </ul>
  </div>
</nav>
