<div class="pink-backdrop">
  <div class="shopcart-hero">
    <div class="hero-container">
      <div class="text-content">
        <h2>Grab Upto 50% Off On</h2>
        <h2>Selected Headphone</h2>
        <button class="pink-btn">Buy Now</button>
      </div>
      <div class="image-content">
        <img
          src="https://images.pexels.com/photos/4986504/pexels-photo-4986504.jpeg"
          alt="Headphone"
          class="product-image"
        />
      </div>
    </div>
  </div>
</div>


