<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ng-lottie
        [options]="lottieOptions"
        style="height: auto;">
      </ng-lottie>
    </div>

    <div class="col-md-6">
      <div class="right-side">
        <div class="login-box">
          <h2>Login</h2>
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <input
              type="text"
              formControlName="username"
              placeholder="Username"
              required
            />

            <div class="text-danger" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">
              Username is required.
            </div>

            <div class="text-danger" *ngIf="loginForm.controls['username'].hasError('minLength') && loginForm.controls['username'].touched">
              Username must be atleast 3 characters.
            </div>

            <input
              type="password"
              formControlName="password"
              placeholder="Password"
              required
            />

            <div class="text-danger" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
              Password is required.
            </div>

            <div class="text-danger" *ngIf="loginForm.controls['password'].hasError('minLength') && loginForm.controls['password'].touched">
              Password must be atleast 6 characters.
            </div>

            <div class="options">
              <label><input type="checkbox" /> Remember me</label>
              <a href="#">Forgot Password?</a>
            </div>

            <button
              type="submit"
              class="login-btn"
              [disabled]="loginForm.invalid"
              [ngClass]="{
                'disabled-btn': loginForm.invalid,
                'active-btn': loginForm.valid
              }"
            >
              Login
            </button>

            <div class="divider">
              <span>OR</span>
            </div>

            <div class="social-login">
              <p>Login with</p>
              <div class="icons">
                <img src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt="Facebook" />
                <img src="https://cdn-icons-png.flaticon.com/512/281/281764.png" alt="Google" />
              </div>
            </div>
          </form>

          <div *ngIf="error" class="error">{{ error }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
