.hero-banner {
  background-color: #f6fdf9;
  border-radius: 16px;
}

.hero-text h2 {
  font-size: 2rem;
  color: #222;
}

.input-group input {
  border: 1px solid #ccc;
}

.hero-image .position-absolute {
  font-size: 0.9rem;
}


.offer-card {
  background: #f9f9f9;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.offer-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.flash-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}
.flash-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}
