.hero-banner {
  background-color: #f6fdf9;
  border-radius: 16px;
}

.hero-text h2 {
  font-size: 2rem;
  color: #222;
}

.input-group input {
  border: 1px solid #ccc;
}

.hero-image .position-absolute {
  font-size: 0.9rem;
}


.offer-card {
  background: #f9f9f9;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.offer-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.flash-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

.flash-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.btn-outline-secondary i {
  font-size: 1.2rem;
}

.hover-shake {
  transition: transform 0.2s ease-in-out;
}

.hover-shake:hover {
  animation: shake 0.4s;
  transform: scale(1.02);
  cursor: pointer;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(-3deg); }
  40% { transform: rotate(3deg); }
  60% { transform: rotate(-3deg); }
  80% { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}


