<div *ngIf="!loading" class="cart-container">
  <h1>Your Cart</h1>

  <div class="cart-content">
    <div class="cart-items">
      <div class="cart-item" *ngFor="let item of cart.products">
        <img [src]="item.thumbnail" alt="{{ item.title }}" class="product-img">

        <div class="item-details">
          <h4>{{ item.title }}</h4>
          <p class="price">Quantity: {{ item.quantity }}</p>
          <p class="price"> Price: ${{ item.price }}</p>
          <p class="price">Total: ${{ item.total}}</p>
          <p class="price"> Discounted Percentage: ${{item.discountedPercentage}}</p>
          <p class="price"> Discounted Total: ${{item.discountedTotal}}</p>
        </div>

        <div class="item-actions">
          <button>-</button>
          <span>{{ item.quantity }}</span>
          <button>+</button>
        </div>

        <button class="delete-btn" title="Remove item">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>

    
    <div class="order-summary">
      <h3>Order Summary</h3>

      <div class="summary-row">
        <span>Subtotal</span>
        <span>${{ cart.total }}</span>
      </div>

      <div class="summary-row discount">
        <span>Discount</span>
        <span>- ${{ cart.discountedTotal }}</span>
      </div>

      <div class="summary-row">
        <span>Delivery Fee</span>
        <span>$15</span>
      </div>

      <div class="summary-row total">
        <span>Total Products</span>
        <span>{{ cart.totalProducts }}</span>
      </div>

      <div class="promo-code">
        <input type="text" placeholder="Add promo code">
        <button>Apply</button>
      </div>

      <button class="checkout-btn">Go to Checkout →</button>
    </div>
  </div>
</div>
