<div *ngIf="loading">Loading user information...</div>

<div *ngIf="!loading && user" class="account-container">
  <div class="sidebar">
    <div class="profile-circle">{{ user.firstName.charAt(0) }}</div>
    <h4>{{ user.firstName }} {{ user.lastName }}</h4>
    <ul>
      <li 
        *ngFor="let option of ['My Account', 'My Assets', 'My Orders', 'Return/Refund', 'Wish List', 'Recent Views', 'Message', 'Chats with Sellers']"
        [class.active]="activeSidebar === option"
        (click)="setSidebar(option)">
        {{ option }}
      </li>
    </ul>
  </div>

  <div class="main-content">
    <nav class="order-tabs">
      <span 
        *ngFor="let tab of ['Unpaid', 'To be Shipped', 'Shipped', 'Completed', 'Cancelled']"
        [class.active]="activeTab === tab"
        (click)="setTab(tab)">
        {{ tab }}
      </span>
    </nav>

    <div *ngIf="!hasOrders(activeTab)" class="no-orders">
      <img src="https://cdn-icons-png.flaticon.com/512/4076/4076549.png" width="100" alt="No Orders">
      <p>No orders under "{{ activeTab }}"</p>
    </div>
  </div>
</div>

<div *ngIf="!loading && (status === 401)">
  <app-login></app-login>
</div>
